.vscode/
misc/

E1/__pycache__
E1/test.py

E5/__pycache__
E5/main.obj
E5/main.exe

Exam/*

Prob/*.obj
Prob/*.exe
Prob/vendor/*.obj
Prob/vendor/*.exe

visualizing/*.obj
visualizing/*.exe
visualizing/*.lib
visualizing/*.bat
